* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.figures {
    display: flex;
    width: 100%;
}

.contents {
    background-color: transparent;
    color: white;
    text-align: center;
    display: flex;
    gap: 4.7rem;
    margin-left: 38rem;
    margin-right: auto;
    padding: 7rem;
}

.right_reason {
    color: rgb(247, 248, 247);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    /* margin-left: 58rem;
    margin-right: auto; */
    font-size: 38px;
    font-weight: 900;

}

.brand {
    width: 147px;
    height: 115px;
    background-color: transparent;

}

.back {
    animation-duration: 7s;
}

.imagess {
    width: 50px;
    height: 50px;
}

.reasons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ABC {
    font-size: 5rem;
    color: rgb(233, 225, 231);
    font-weight: 400;
    background-color: maroon;
    text-align: center;
}

.reasons_data {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    color: rgb(43, 1, 24);
    background-color: aliceblue;
}

.text {
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(240, 237, 236);
}

.partners {
    display: flex;

}

.partner {
    display: flex;
    margin-left: auto;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    gap: 1rem;
}

.Right {
    display: flex;
    flex-direction: row;
}

.partners {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent;
}